<h1><%= t('doorkeeper.authorized_applications.index.title') %></h1>

<div class="row">
  <div class="col s12 m12 l12">
    <ul class="collapsible" data-collapsible="accordion">
      <% @applications.each do |application| %>
        <li>
          <div class="collapsible-header"><%= application.name %></div>
          <div class="collapsible-body">
            <p>
              <strong>Authorized date</strong>: <%= application.created_at.strftime(t('doorkeeper.authorized_applications.index.date_format')) %>
              <br>
              <br>
              <strong>Scopes</strong>: 
              <% application.scopes.each do |scope| %>
                <%= scope %>
              <% end %>
              <br>
              <br>
              <%= link_to t('doorkeeper.authorized_applications.buttons.revoke'), oauth_authorized_application_path(application), data: { confirm: "Revoke access to #{application.name}?" }, method: :delete, class: 'btn red' %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>